.releasenotes-container{
  width: 100%;
  padding: 6rem;
  animation-name: moveIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  >h1{
    color: var(--color-primary);
    font-size: var(--font-size-heading);
    margin-bottom: 2rem;
  }

  >h3{
    color: var(--color-secondary-dark);
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  p{
    font-size: var(--font-size-default);
    list-style-type: circle;
    margin-bottom: .5rem;

    >span{
      color: var(--color-primary);
      font-weight: 500;
      margin: 0 5px 0 5px;
    }
  }
}

.notes-icon{
  font-size: 1rem;
}