@import '../scss/animations';

.header-container{
  transition: .5s;
  animation-name: moveIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.header-main{
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.header-name{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.header-icon{
  font-size: 1.5rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.header-label{
  color: var(--font-color-label);
  font-size: var(--font-size-label);
  font-weight: 600;
  letter-spacing: 2px;
}

.header-budget{
  font-size: var(--font-size-heading-large);
  color: var(--font-color-heading);
}

.header-title{
  color: var(--font-color-subheading);
  font-size: var(--font-size-heading);
  text-transform: capitalize;
}

.header-main-stat{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  >*:not(:last-child){
    margin-bottom: 1.4rem;
  }

  >h4{
    font-weight: 300;
    >span{
      font-weight: 500;
    }
  }
}

.header-main-title{
  flex-grow: 3;
}

.header-stat{
  font-weight: 200;

  &.budget{
    color: var(--font-color-heading);
  }

  &.expense{
    color: var(--color-red);
  }

  &.income{
    color: var(--color-green)
  }

  @media only screen and (max-width: 320px) {
    font-size: var(--font-size-label);
  }

}