nav {
  z-index: 1;
  background-color: var(--color-primary);
  width: 20rem;
  height: 100vh;
  position: fixed;
  @media only screen and (max-width: 720px) {
    animation-name: moveInLeft;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    width: 100%;
  }
}

.display-none{
  display: none;
}

nav > main{
  padding: 4rem 2.5rem 2.5rem 3rem;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  @media only screen and (max-width: 720px) {
    align-items: center;
    padding: 4rem 2.5rem 2.5rem 0;
  }
  @media only screen and (max-width: 320px) {
    align-items: flex-start;
    padding: 4rem 2.5rem 2.5rem 10rem;
  }
}

.nav-section{
  color: var(--font-color-white);
}

.nav-section > * {
  font-weight: 300;
}

.nav-label {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0;
  // background-color: red;
  >img{
    height: 5rem;
    clip-path: circle(2.5rem at center);
    margin-right: 1rem;
  }

  >h1{
    font-size: var(--font-size-subheading);
    letter-spacing: 1px;
  }
  &:nth-child(1){
    margin-bottom: 2rem;
  }
}


.nav-label > label {
  display: block;
  font-size: var(--font-size-label);
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--font-color-label);
  margin-left: 1rem;
}

.nav-section > h4{
  padding: 1rem 0;
  cursor: pointer;
  margin-left: 2rem;
  text-transform: capitalize;
  &:hover{
    font-weight: 900;
  }

  &.selected{
    font-weight: 900;
  }

}

.nav-footer{
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.nav-icon{
  color: var(--font-color-white);
  font-size: 1.3rem;
  cursor: pointer;
}


.nav-new-account{
  font-size: 1rem;
  color: #e2b762;
  font-weight: 400;
}


.sidebar-toggle-icon{
  display: none;
  z-index: 3;

  @media only screen and (max-width: 720px) {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
  }

  >.toggle-icon{
    font-size: 1.5rem;
    // color: white;
    // background-color: var(--color-primary);
  }
}