@import '../scss/animations';


.item-container{
  width: 100%;
  background-color: white;
  padding: 1.3rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.transaction-remove{
  animation-name: moveout;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

.item-detail{
  flex-grow: 9;

  >h4{
    font-weight: 300;
  }
  >label{
    font-size: var(--font-size-label);
    color: var(--font-color-label);
  }
}

.item-cost{
  flex-grow: 2;
  width: 10rem;
  >h3{
    font-weight: 300;
  }
}

.item-icon{
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  color: var(--color-red);
  cursor: pointer;
}

.expense-color{
  color: var(--color-red)
}

.income-color{
  color: var(--color-green)
}