@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  //general
  --color-primary: #002F52;
  --color-secondary: #e9e0ce;
  --color-background: #F3F4F9;

  --color-red: #DB6757;
  --color-red-highlight: #F0D5D5;

  --color-green: #57DB93;
  --color-green-highlight: #D5F0DD;

  //font
  --font-color-white: #FFFFFF;
  --font-color-default: #000000;
  --font-color-label: #C0C0C0;
  --font-color-heading: #000000;
  --font-color-subheading: #004D52;

  //button
  --color-button-primary: #002F52;
  --color-button-text: #FFFFFF;

  //form
  --form-color-container: #D0E7FD;
  --form-color-label: #000000;

  //font size
  --font-size-default: .9rem;
  --font-size-label: .8rem;
  --font-size-subheading: 1.3rem;
  --font-size-heading: 2.5rem;
  --font-size-heading-large: 4.5rem;
  @media only screen and (max-width: 1000px) {
    --font-size-heading-large: 3.5rem;
  }
  @media only screen and (max-width: 380px) {
    --font-size-heading-large: 2.2rem;
    --font-size-label: .8rem;
    --font-size-subheading: 1rem;
  }
}

//reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* for all elements to inherit box-sizing attribute in body element css */
}

html {
  font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% -- 16px is default font size in browser*/
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-default);
  font-weight: 300;

  @media only screen and (max-width: 900px) {
    font-size: 70%;
  }
  @media only screen and (max-width: 450px) {
    font-size: 50%;
  }
  // @media only screen and (max-width: 320px) {
  //   font-size: 50%;
  // }
}

body{
  background-color: var(--color-background);
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  >*:not(:last-child){
    margin-bottom: 1rem;
  }

  >label{
    font-size: var(--font-size-label);
  }
}

input[type=text],
input[type=number],
input[type=date],
select{
  width: 95%;
  outline: none;
  padding: 8px;
  font: inherit;
  border: none;

  @media only screen and (max-width: 320px) {
    padding: 4px;
  }
}

//remove spinner from input type num
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit]{
  margin-top: 2rem;
  outline: none;
  padding: 8px;
  font: inherit;
  border: none;
  width: 95%;
  background-color: var(--color-button-primary);
  color: var(--color-button-text);
  cursor: pointer;
  border-radius: 5px;
}

button{
  margin-top: -1.4rem;
  outline: none;
  padding: 8px;
  font: inherit;
  border: none;
  width: 95%;
  background-color: var(--color-red);
  color: var(--color-button-text);
  cursor: pointer;
  border-radius: 5px;
}

//helper classes

.heading{
  font-size: var(--font-size-heading-large);
}

.subheading{
  // width: 12rem;
  // background-color: red;
  white-space: nowrap;
  font-size: var(--font-size-subheading);
}

.modal-container{
  z-index: 2;
}

.modal-container::before {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-primary);
  opacity: 50%;
  z-index: 2;
}

